* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 5%;
  height: 100vh;
}

.board {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  width: 75%;
}

.card {
  align-self:center;
  background-color: lightGreen;
  border-radius: 10%;
  height: 75%;
  padding-bottom: 100%;
  text-align: center;
  transition: all .4s ease-in-out;
  width: 75%;
}

h1 {
  pointer-events: none;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.clicked {
  background-color: tomato;
}
.clicked h1 {
  opacity: 1;
}
.matched {
  background-color: tomato;
  pointer-events: none;
}
.matched h1 {
  opacity: 1;
}
