* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 5%;
  height: 100vh;
}

.board {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  width: 75%;
}

.card {
  align-self:center;
  background-color: lightGreen;
  border-radius: 10%;
  height: 0;
  padding-bottom: 100%;
  transition: all .4s ease-in-out;
}

.flipped {
  background-color: tomato;
}
